<table id="drawings_list"><tr><td/></tr></table> 
<div id="drawings_pager"></div>

<%= raw(drawings_jqgrid) %>

<script>
  /* padding left (31) + borders (1+1) + padding right (31) */
  var centerWidth = pexlayout.cssWidth('center') -67;
  $('#drawings_list').setGridWidth(centerWidth);
</script>
