<div id="center_accordion" class="pex_accordion">
  <h3><a href="#"><%=t :find -%></a></h3>
  <div id="center_find">
  </div>
  <h3><a href="#"><%=t :find_result_table -%></a></h3>
  <div id="center_find_result">
  </div>
  <h3><a href="#"><%=t :record -%></a></h3>
  <div id="center_record">
  </div>
</div>
