@font-face {
    font-family: 'SteinerRegular';
    src: url('font/steinerlight-webfont.eot');
    src: url('font/steinerlight-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/steinerlight-webfont.woff') format('woff'),
         url('font/steinerlight-webfont.ttf') format('truetype'),
         url('font/steinerlight-webfont.svg#SteinerRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.ui-layout-north{
  text-align:center;
}
.ui-layout-north #north_content{
  margin-top:18px;
}
.ui-layout-north #north_content span{
  padding:10px 10px 0 10px;
  font-family: 'SteinerRegular';
  font-size:30px;
  font-weight:bold;
}

.pex_accordion {
  margin:0 0 -10px 0 !important;
}

a:link {
	text-decoration: none;
}

#drawing_search th {
	text-align: left;
	white-space: nowrap;
	width:150px;
	font-weight: normal;
}

/* correct jqgrid problems */
.ui-jqgrid .ui-pg-input {
  height: 16px;
}
select.ui-pg-selbox {
  height: 19px;
  margin: 0;
  padding: 0 18px 0 0;
}

.ui-jqgrid-titlebar-close {
  display:none;
}
/* input.ui-pg-selbox {height: 13px; padding: 0;}*/

/*
.jqmWindow table {margin: 0; width: 300px;}
.jqmWindow td, tr {padding:0;}

.jqmClose img {padding-left: 282px;}


.nav-button {padding-top: 0;}

div.loading {background: #FFBC0B;}
table.scroll th div {font-weight: bold;}

.selected-row, .selected-row TD {
	background-color: #fdf5cf;
	color:#1c94c4;
}
table.scroll tr.selected td {
	background: #fdf5cf;
	color:#1c94c4;
}
table.scroll tr.over td{
	background-color: #fdf5cf;
}

*/
